{% extends "base.html" %}
{% load course %}

{% block title %}
    Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block header1 %}
    {% with course=module.course %} Course : {{ course.title }}{% endwith %}
{% endblock %}


{% block content %}
<div class="container-fluid vh-100">
    {% with course=module.course %}  
    <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 text-center">
            <h3>Modules</h3>
            
            <ul id="modules" class="list-group ">
                {% for m in course.modules.all %}
                    <li data-id="{{ m.id }}" class="list-group-item {% if m == module %} selected {% endif %}">
                        <a href="{% url 'courses:module_content_list' m.id %}" class="btn btn-outline-danger w-100">
                            <span>
                                Module <span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>No modules yet.</li>
                {% endfor %}               
            </ul>     
            <a class="btn btn-outline-primary mt-3" href="{% url 'courses:course_module_update' course.id %}">
                Edit modules
            </a>  
        </div>
  
        <div class="col-xs-12 col-sm-8 col-lg-5 mb-2" >
            <div id="module-contents">
                {% for content in module.contents.all %}
                    <div data-id="{{ content.id }}">
                        {% with item=content.item %}
                            <h6><span class="badge {{item.color}}  ">Content {{ content.id }}</span> - {{ item }}   </h6>
                            <ul class="list-group list-group-horizontal float-left">
                                <li class="list-group-item">
                                    <a href="{% url 'courses:module_content_update' module.id item|model_name item.id %}">
                                        Edit
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <form action="{% url 'courses:module_content_delete' content.id %}" method="post">
                                        <input type="submit" value="Delete">
                                        {% csrf_token %}
                                    </form>
        
                                </li>
                              </ul>           
                            
                            
                        {% endwith %}
                    </div>

                {% empty %}
                    <p>This module has no contents yet.</p>
                {% endfor %}
            </div>       
        </div>

        <div class="actions col-xs-12 col-sm-12 col-lg mt-2">        
            <ol class="list-group list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start bg-light text-dark"> 
                    Add new content:
                </li>
                <li class="bg-dark text-light list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">                        
                            <div class="fw-bold">File</div>
                            <a class='text-light' href="{% url 'courses:module_content_create' module.id 'file' %}">
                                Add new File content   
                            </a>          
                    </div> 
                </li>  
           
                <li class="bg-primary list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Text</div>
                        <a class="text-light" href="{% url 'courses:module_content_create' module.id 'text' %}">
                            Add new Text content   
                        </a>          
                    </div>                
                </li>   
                <li class="bg-success list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">                        
                        <div class="fw-bold">Image</div>
                        <a class="text-light" href="{% url 'courses:module_content_create' module.id 'image' %}">    
                            Add new Image content   
                        </a>          
                    </div>     
                </li> 
                <li class=" bg-warning list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Video</div>
                            <a class="text-light" href="{% url 'courses:module_content_create' module.id 'video' %}">    
                                Add new Video content   
                            </a>          
                    </div>           
                </li> 
                

            </ol>          
        </div>
    </div>
    {% endwith %}
</div>


{% endblock %}

{% block domready %}
    $('#modules').sortable({
        stop: function(event, ui) {
            modules_order = {};
            $('#modules').children().each(function(){
                // update the order field
                $(this).find('.order').text($(this).index() + 1);
                // associate the module's id with its order
                modules_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: 'POST',
                url: '{% url "courses:module_order" %}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(modules_order)
            });
        }
    });

    $('#module-contents').sortable({
        stop: function(event, ui) {
            contents_order = {};
            $('#module-contents').children().each(function(){
                // associate the module's id with its order
                contents_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: 'POST',
                url: '{% url "courses:content_order" %}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
            data: JSON.stringify(contents_order),
            });
        }
    });
{% endblock %}


